.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 240px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding-left: 24px;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}

.sidebar-link div {
    font-size: 14px;
    color: rgb(33, 33, 33);
}


@media(max-width: 1200px) {

    .sidebar {
        width: 72px;
    }

    .sidebar-link {
        height: 74px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    }

    .sidebar-link img {
        height: 24px;
        margin-right: 0;
        margin-bottom: 4px;
    }

    .sidebar-link div {
        font-size: 10px;
        color: rgb(96, 96, 96);
    }
}